
<nav class="nav-extended">
    <div class="nav-wrapper">
      <a routerLink="#" class="brand-logo">Logo</a>
      <a routerLink="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a routerLink="myaccount">MYACCOUNT</a></li>
       
      </ul>
    </div>
    <div class="nav-content">
      <ul class="tabs tabs-transparent">
        <li class="tab"><a routerLink="products">Products</a></li>
        <li class="tab"><a  routerLink="mycart">Mycart</a></li>
        <li class="tab"><a  routerLink="productlist">productlist</a></li>
        
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
    <li><a routerLink="sass.html">Sass</a></li>
    <li><a routerLink="badges.html">Components</a></li>
    <li><a routerLink="collapsible.html">JavaScript</a></li>
  </ul>

  <div id="test1" class="col s12"></div>
  <div id="test2" class="col s12"></div>
  <div id="test3" class="col s12"></div>
  <div id="test4" class="col s12"></div>
<router-outlet></router-outlet>
