<h1>{{ title}}</h1>
<div class="card-header">
    <a routerLink='/products'></a>
 <a class="div2" routerLink='/dashboard'>New arrivals</a>
    <a class="div2" routerLink='/dashboard'>Women  </a>
    <a class="div2" routerLink='/dashboard'>Kids wear</a>
    <a class="div2" routerLink='/dashboard'>Accesories</a>
 <a class="div2 " routerLink='/signup'>signup</a>
    <a class="div2" routerLink='/login'>Login</a>
    <a routerLink='/add'>add products</a>
    <a class="div2" routerLink='/mycart'>my cart</a>
</div>