
<div class="row">
    <div class="col m12">
      <div class="card">
        <div class="card-content white-text">
          <div class="row">
            <div class="col m12">
              <form>
                <input type="hidden" >
                <div class="row">
                  <div class="input-field col s12">
                    <input type="text"  >
                    <label>productname :
                      <label class="red-text">*</label>
                    </label>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s12">
                    <input type="text" >
                    <label>Price :</label>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s12">
                    <input type="text" >
                    <label>Image :</label>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s12">
                    <button class="btn btn-custom right" type="button" >Reset</button>
                    <button class="btn btn-custom right" type="submit" >Submit</button>
                  </div>
                </div>
              </form>
     
     